Django~=5.2.8
annotated-types
asgiref
dj-database-url
Django
django-cors-headers
django-ninja
dnspython
email_validator
envparse
python-dotenv
gunicorn
idna
packaging
psycopg2-binary
pydantic
pydantic_core
PyJWT
sqlparse
typing_extensions
